@page
@model pizzastore.Pages.CreateYourOwnpizzaModel
@{
}
<div class=" text-center">
    <h1>Our Great Collection Of Pizzas!</h1>
    <h4>Choose One Or try our pizza Builder!Then Order and Done!</h4>
    <h4>No Personal Detail Requird</h4>
    <h4>We got you COvered!</h4>
    </div>

    <div class="row mb-5 mt-5">
        <div class="col-12">
            <div class="row bg-secondary">
            <div class="col-4">
                <img src="~/images/Beef.png"class="w-50" />
             
            </div>
            <div class=" col-8 text-white">
                <p>Create your own pizza</p>
                <p>Make your own pizza</p>
                <a class="btn btn-primary" asp-area="" asp-page="./CustomerOrder">Try now</a>
            </div>
                </div>
        </div>`

    </div>
    
    
    
    