@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dr.Pizza</h1>
  <h1>The Most Taste Pizza In Town</h1>
    <img src="~/images/unnamed.png" class="w-50 m-1"/><br />
    <a class="btn btn-primary"asp-area="" asp-page="./CreateYourOwnpizza">Bring Me a Doctor Pizzza special</a>
</div>
